# ignore everything
*

# still search in folders though
!*/

!.gitignore
!get_daemon.sh
!get_fasta.sh
!get_output_dir.sh
!get_project_data_dir.sh
!ls.sh
!performance.sh
!pull_containers.sh
!read_config.sh
!repository.sh
!run_daemon.sh
!run_on_cluster.sh
!utils

!perf/get_perf.sh

!pipelines/scripts/convert.sh
!pipelines/scripts/fetch.sh
!pipelines/scripts/search.sh
!pipelines/scripts/search_long.sh
!pipelines/run_pipeline.sh
!pipelines/run_pipeline_biomart.sh
!pipelines/run_pipeline_long.sh

!similarity/cluster_similar/clustering.sh
!similarity/compare/compare.sh
!similarity/compare/get_list.sh
!similarity/compare/parse_output.py
!similarity/compare/script.sh
!similarity/data/test3/test3used.transfac.txt

!tools/alignace/convert.sh
!tools/alignace/search.sh
!tools/bamm/convert.sh
!tools/bamm/search.sh
!tools/discrover/convert.sh
!tools/discrover/search.sh
!tools/dreme/convert.sh
!tools/dreme/search.sh
!tools/dynamit/man/*
!tools/dynamit/convert.sh
!tools/dynamit/help.sh
!tools/dynamit/search.sh
!tools/dynamit/tag.sh
!tools/emd/convert.sh
!tools/emd/emd.cfg
!tools/emd/search.sh
!tools/gimme/config/gimmemotifs/
!tools/gimme/man/*
!tools/gimme/supporting/code/parse_motifs.py
!tools/gimme/supporting/posmo.sh
!tools/gimme/convert.sh
!tools/gimme/get_tools.sh
!tools/gimme/help.sh
!tools/gimme/search.sh
!tools/gimme/tag.sh
!tools/graphprot/convert.sh
!tools/graphprot/search.sh
!tools/homer/convert.sh
!tools/homer/search.sh
!tools/mcat/convert.sh
!tools/mcat/search.sh
!tools/mds2/convert.sh
!tools/mds2/search.sh
!tools/meme/convert.sh
!tools/meme/search.sh
!tools/rpmcmc/convert.sh
!tools/rpmcmc/search.sh
!tools/sshmm/convert.sh
!tools/sshmm/search.sh
!tools/weeder2/convert.sh
!tools/weeder2/search.sh
!tools/xxmotif/convert.sh
!tools/xxmotif/search.sh
!tools/zagros/convert.sh
!tools/zagros/search.sh

!tools/fetch.sh
!tools/convert_converted.sh
!tools/run_tool.sh
!tools/container.sh


